/* line 1, /home/lucidax/.rvm/gems/ruby-2.3.0@sample_app/gems/rails_db-1.1.1/app/assets/stylesheets/rails_db/forms.css.scss */
select.datetime, select.date, select.time {
  padding-right: 25px;
  width: auto;
}

/* line 6, /home/lucidax/.rvm/gems/ruby-2.3.0@sample_app/gems/rails_db-1.1.1/app/assets/stylesheets/rails_db/forms.css.scss */
.scrollable_form {
  max-height: 600px;
  overflow: scroll;
}
