/* line 1, /home/lucidax/.rvm/gems/ruby-2.3.0@sample_app/gems/rails_db-1.1.1/app/assets/stylesheets/rails_db/table.css.scss */
span.pk {
  color: brown;
}

/* line 5, /home/lucidax/.rvm/gems/ruby-2.3.0@sample_app/gems/rails_db-1.1.1/app/assets/stylesheets/rails_db/table.css.scss */
.delete_td, .edit_td {
  width: 24px;
}

/* line 9, /home/lucidax/.rvm/gems/ruby-2.3.0@sample_app/gems/rails_db-1.1.1/app/assets/stylesheets/rails_db/table.css.scss */
.column-name {
  float: left;
  width: 20%;
}
